echo Info geek, you may use Ctrl>Shift>D to toggle: debug & Ctrl>Shift>G to toggle: dbg_graphs
# this is a comment, it will not execute, to execute this script use: exec infogeek.cfg
# 这是一个注释，它不会执行，要执行此脚本，请使用：exec infogeek.cfg
## if you enabled any of these you might what to comment out the command with a # (else they will be toggled off.) 
## 如果您启用了这些中的任何一个，您可能需要使用#注释掉该命令（否则它们将被切换关闭）。

say /mapinfo
toggle cl_nameplates_always 0 1
toggle cl_nameplates 0 1
toggle cl_show_votes_after_voting 0 1
toggle cl_show_local_time_always 0 1
toggle cl_showfps 0 1
toggle cl_showpred 0 1
toggle debug 0 1
toggle dbg_graphs 0 1
toggle cl_show_ids 0 1
toggle cl_show_direction 0 1
ping
say /rules
# prevents saving in this state
# 防止在此状态下保存
toggle cl_save_settings 1 0
