###          Information    
# Makes toggling dummy take Hammer in hand
###                    

###            信息
# 使切换dummy拿锤子在手中
###


# tells you privately though chat whats going on
# 通过聊天告诉你私人发生了什么
echo Enabled Dummy take Hammer on switch

# bounds toggle dummy to also switch to Hammer
# 绑定切换dummy也切换到锤子
bind X "toggle cl_dummy 0 1; +weapon1"

# makes it so pressing 6 will disable it
# 这样按下6将禁用它
bind left exec HammerTakeOff.cfg
