echo Precision Hooking, this sets you mouse sensitivity to 100
# this is a note, it will not execute. use: exec "Precision hooking.cfg"  with quotes to execute this script.
# 这是一个注释，不会执行。使用带引号的 exec "Precision hooking.cfg" 来执行这个脚本。
## instead of this Script try: bind lctrl "+toggle inp_mousesens 1 100; +showhookcoll" 
## 试试这个脚本：bind lctrl "+toggle inp_mousesens 1 100; +showhookcoll"
### that way holding left Ctrl will slooow mouse movement plus show the hook collision line 
### 这样按住左 Ctrl 键会减慢鼠标移动速度并显示钩子碰撞线

# action
# 动作
toggle inp_mousesens 1 100
toggle cl_overlay_entities 0 100
toggle cl_predict 0 1
toggle cl_predict_ddrace 0 1
toggle cl_show_hook_coll_always 0 1
## over ridden by the above 
## 以下设置会被上面的设置覆盖
# cl_show_hook_coll_own 1
# toggle cl_show_hook_coll_other 1 0
 
 
# prevents saving in this state
# 防止保存当前设置
toggle cl_save_settings 1 0


## if you enabled these you might what to toggle them off for this mode. 
## 如果你启用了这些设置，你可能想要关闭它们以适应这种模式。
#toggle cl_antiping 0 1
#toggle cl_antiping_limit 0 1

# reset all rebinded keys, defined in launcher.cfg
# 重置所有在 launcher.cfg 中定义的重新绑定的键
bind 1 +weapon1
bind 2 +weapon2
bind 3 "+weapon3"
bind 4 "+weapon4"
bind 5 "+weapon5"
bind space "+jump"




