# based off Fokkonauts work
# 基于 Fokkonauts 的工作

# Action: Rcon move though walls mode
# 动作：Rcon 穿墙模式
bind up rcon up
bind down rcon down
bind right rcon right
bind left rcon left
echo Rcon Move


# reset all rebinded keys, defined in launcher.cfg
# 重置所有在 launcher.cfg 中定义的重新绑定的键
bind 1 +weapon1
bind 2 +weapon2
bind 3 "+weapon3"
bind 4 "+weapon4"
bind 5 "+weapon5"
bind space "+jump"
