echo Zen mode
# this is a comment, it will not execute. to execute this script use: exec zenmode.cfg
# 这是一句注释，它不会被执行，想要执行这个脚本请使用：exec zenmode.cfg

toggle cl_show_quads 1 0
toggle cl_overlay_entities 0 93
toggle cl_show_chat_friends 0 1
toggle cl_nameplates 0 1
toggle cl_scoreboard_on_death 0 1
toggle snd_long_pain 1 0
toggle cl_showkillmessages 0 1
toggle cl_shownotifications 1 0
toggle cl_show_chat_system 1 0
toggle cl_vanilla_skins_only 0 1
# prevents saving in this state
# 防止在此状态下保存
toggle cl_save_settings 1 0



## if you enabled these you might what to toggle them off for this mode. 
## 如果你启用了这些设置，你可能想要关闭它们以适应这种模式。
#toggle cl_race_show_ghost 0 1
#toggle cl_show_votes_after_voting 0 1
#toggle cl_show_local_time_always 0 1
#toggle cl_showfps 1 0
#toggle cl_showpred 1 0
#toggle ed_showkeys 1 0

# global, for if  show_others is enabled  
# 全局，如果启用了 show_others
#toggle cl_show_others 1 0

# per player
# 每个玩家
#say /showothers


# reset all rebinded keys, defined in launcher.cfg
# 重置所有在 launcher.cfg 中定义的重新绑定的键
bind 1 +weapon1
bind 2 +weapon2
bind 3 "+weapon3"
bind 4 "+weapon4"
bind 5 "+weapon5"
bind space "+jump"
