###          Information ---- Script 2 of 2
# Toggles "Super"(meaning your invincible & not affected by Freeze) off.
###

###            信息 ---- 脚本 2/2
# 切换"Super"（意味着你是无敌的，不受冻结影响）。
###

## this is a comment, it will not execute. To initiate this Script-Bind use: exec SuperOn.cfg
## 这是一个注释，它不会执行。要启动此脚本绑定，请使用：exec SuperOn.cfg


# tells you localy though chat whats going on
# 通过聊天告诉你本地发生了什么
echo Super Toggled Off

# disables super(if you kill it will be disabled aswell)
# 禁用超级（如果你死了，它也会被禁用）
rcon unsuper


# Enables the HUD When Super is off (See Note About +toggle)
# 当Super关闭时启用HUD（有关+toggle的说明，请参见注释）
+toggle cl_showhud_healthammo 0 1 

# restores normal Saving
# 恢复正常保存
cl_save_settings 1

# rebinds the desired Key(in this case i) to execute the paired Script
# 重新绑定所需的键（在这种情况下是i）以执行配对的脚本
bind i exec SuperOn.cfg
